{% extends 'base.html.twig' %}

{% block title %}Validation de compte!
{% endblock %}

{% block body %}
	<div>
		<h1 class="text-uppercase bg-primary text-white text-center py-3 border-3 border-bottom">
			YPSI CLOUD RH V5
		</h1>
		<div class="container">
			<p class="h1 text-center text-uppercase text-dark my-5">Validation du compte Ok</p>
			<p class="h2 text-center text-uppercase text-dark my-5">Redirection vers la page d'acceuil ici.</p>
		</div>

	</div>
{% endblock %}
